@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    
}
:root {
  --color-primary: #111827;  
  --color-secondary: #F3F4F6; 
  --color-accent: #F59E0B;   
  --color-background: #FFFFFF;
  --color-text: #1F2937;     }

h1{
    font-size: 50px;
    line-height: 64px;
    
}
h2{
    font-size: 46px;
    line-height: 54px;
  
}
h4{
    font-size: 20px;
      
}
h6{
    font-size: 50px;
    font-weight: 700;
    
}
p{
    font-size: 16px;
    margin: 15px 0 20px 0;
    
}


#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background:white;
  box-shadow: 0 5px 15px rgb(0 ,0 , 0 , 0.06);
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;

}
#navbar li{
    list-style-type: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    color: #2d353f;
    font-weight: 600;
    font-size: 19px;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color: rgb(25, 97, 97);
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    position: absolute;
    width: 40%;
    height: 2%;
    background: rgb(25, 97, 97);
    bottom: -4px;
    left: 20px;

}
 #hero{
    background-image: url(img/hero4.png);
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
 }
 #hero h4{
    padding-bottom: 15px;
 }
 #hero h1{
    color: rgb(25, 97, 97);
 }
  #hero p{
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }
  #hero button{
    background-image: url(img/button.png);
    background-color: transparent;
    color: rgb(25, 97, 97);
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    border: 0;
  }